body {
	padding-bottom: 40px;
	background-color: #F4F1DE;
}

.carousel-control .control-left,
.carousel-control .control-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .control-left {
  left: 50%;
}
.carousel-control .control-right {
  right: 50%;
}
