// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-caption {
	top: 0;
	bottom: auto;
	right: 35px;
	left: auto;
	width: 50%;
}

